body {
    background-image: url('bglogo.png');
}

.content {
    width: 900px;
    background-color: white;
    margin: auto;
    padding: 16px;
}

table {
    width: 100%;
}

h1 {
   font-size: 24px; 
}

.testimoni {
    background-color: red;
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
}

.footer1 {
    background-color: rgb(202, 26, 26);
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
}

.footer2 {
    background-color: red;
    text-align: left;
    padding-top: 50px;
    /* padding-bottom: 12px; */
    padding-right: 12px;
    padding-left: 50px;
    color: white;
}

.footer3 {
    background-color: rgb(153, 2, 2);
    text-align: left;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pencarian {
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
}